@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-code {
  font-family: 'Fira Code', monospace;
}
